---
import TripCard from "./TripCard.astro";
---

<section class="Trip_card_container">
  <header class="trip_header">
    <h2 class="text-4xl text-wrap w-96">Get inspiration from planned trips</h2>
    <button class="border-2 border-black btn p-2 pl-4 pr-4 rounded-full">
      See More
    </button>
  </header>
  <div class="trip_card_grid">
    <TripCard
    large={true}
    image="yellowStoneNationalPark.jpg"
    alt="Scenic view of yello stone"
    text="Located in Wyoming , Yellowstone is Americas first national park and  the most popular in the country"
    heading="Yellow Stone"
  />
    <TripCard
      large={false}
      image="argentina.jpg"
      alt="Scenic view of Argentina"
      text="I travelled to the south of Argentina for two months and this was one of the..."
      heading="Travel to Argentina"
    />
    <TripCard
      large={false}
      image="Italy.jpg"
      alt="Scenic view of Italy"
      text="Days here are spent eating Italian food, drinking wine and walking around colorful cobblestone streets. "
      heading="Italy"
    />
   
  </div>
</section>

<style>
  .Trip_card_container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
  }

  .trip_header {
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .trip_card_grid {
    /* max-height: 90vh; */
    margin-top: 5px;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    width: 100%;
    max-width: 1200px;
  }

  @media (max-width: 770px) {
    .trip_card_grid {
      grid-auto-rows: 420px;
    }
    .trip_header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 630px) {
    .trip_card_grid {
      grid-auto-rows: 550px;
    }
  }

  @media (max-width: 500px) {
    .trip_card_grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .btn {
    transition: transform ease-in 0.2s;
    &:hover {
      transform: scale(1.02);
    }
  }
</style>
